.vegafusion-loading {
    color: red;
    background: aqua;
  }
  .vegafusion-loading .inner {
    width: 100px;
  }
  .vegafusion-embed {
    min-height: 40px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    overflow: visible;
  }
  .vegafusion-embed.has-actions {
    padding-right: 38px;
  }
  .vegafusion-embed details:not([open]) > :not(summary) {
    display: none !important;
  }
  .vegafusion-embed summary {
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px;
    z-index: 1000;
    background: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #1b1e23;
    border: 1px solid #aaa;
    border-radius: 999px;
    opacity: 0.2;
    transition: opacity 0.4s ease-in;
    outline: none;
    cursor: pointer;
    line-height: 0px;
  }
  .vegafusion-embed summary::-webkit-details-marker {
    display: none;
  }
  .vegafusion-embed summary:active {
    box-shadow: #aaa 0px 0px 0px 1px inset;
  }
  .vegafusion-embed summary svg {
    width: 16px;
    height: 16px;
  }
  .vegafusion-embed details[open] summary {
    opacity: 0.5;
  }
  .vegafusion-embed:hover summary, .vegafusion-embed:focus summary {
    opacity: 0.7 !important;
    transition: opacity 0.2s ease;
  }
  .vegafusion-embed .vegafusion-actions {
    position: absolute;
    z-index: 1001;
    top: 35px;
    right: -9px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #d9d9d9;
    background: white;
    animation-duration: 0.15s;
    animation-name: scale-in;
    animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
    text-align: left;
  }
  .vegafusion-embed .vegafusion-actions hr {
    width: auto;
    height: 1px;
    border: none;
    background-color: #434a56;
    margin: 4px 10px 4px 10px;
    opacity: 50%;
  }
  .vegafusion-embed .vegafusion-actions .source-msg {
    padding: 4px 16px;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 400;
    max-width: 180px;
    color: #CD5C5C;
  }
  .vegafusion-embed .vegafusion-actions a {
    padding: 4px 16px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    color: #434a56;
    text-decoration: none;
  }
  .vegafusion-embed .vegafusion-actions a:hover {
    background-color: #f7f7f9;
    color: black;
  }
  .vegafusion-embed .vegafusion-actions::before, .vegafusion-embed .vegafusion-actions::after {
    content: "";
    display: inline-block;
    position: absolute;
    pointer-events: none;
  }
  .vegafusion-embed .vegafusion-actions::before {
    left: auto;
    right: 14px;
    top: -16px;
    border: 8px solid #0000;
    border-bottom-color: #d9d9d9;
  }
  .vegafusion-embed .vegafusion-actions::after {
    left: auto;
    right: 15px;
    top: -14px;
    border: 7px solid #0000;
    border-bottom-color: #fff;
  }
  .vegafusion-embed .chart-wrapper.fit-x {
    width: 100%;
  }
  .vegafusion-embed .chart-wrapper.fit-y {
    height: 100%;
  }
  
  .vegafusion-embed-wrapper {
    max-width: 100%;
    overflow: auto;
    padding-right: 14px;
  }
  
  @keyframes scale-in {
    from {
      opacity: 0;
      transform: scale(0.6);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }